In [2]:
import pandas as pd

In [5]:
pd.read_csv('fem_temp.csv')

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13
0,37.11,37.91,36.85,38.20,37.54,37.04,37.41,36.35,37.47,37.99,38.02,36.32,36.54
1,37.13,37.98,36.78,38.19,37.55,37.06,37.46,36.41,37.53,37.99,37.99,36.44,36.69
2,37.19,37.98,36.76,38.14,37.55,37.09,37.56,36.50,37.53,37.96,37.86,36.52,36.75
3,37.20,37.96,36.72,37.95,37.54,37.11,37.74,36.55,37.46,37.93,37.80,36.48,36.96
4,37.22,37.95,36.64,37.80,37.53,37.09,37.73,36.63,37.51,37.87,37.76,36.30,37.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20155,36.93,37.16,36.45,37.05,37.59,37.38,37.54,36.92,36.64,37.33,37.34,36.85,36.37
20156,37.00,37.00,36.46,36.99,37.62,37.38,37.53,36.85,36.63,37.37,37.41,36.87,36.48
20157,37.08,37.10,36.48,36.96,37.67,37.40,37.47,36.85,36.65,37.33,37.45,36.92,36.56
20158,37.10,37.26,36.51,36.95,37.63,37.46,37.49,36.86,36.85,37.22,37.56,36.97,36.65
20159,37.15,37.44,36.53,36.94,37.52,37.58,37.49,36.83,36.84,37.14,37.61,37.02,36.67

In [6]:
pd.read_csv('male_temp.csv')

,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,36.14,36.01,35.82,36.48,37.10,36.16,36.85,36.08,36.86,36.68,36.41,36.93,37.00
1,36.19,35.94,35.79,36.44,37.10,36.05,36.91,36.11,36.84,36.71,36.38,36.83,37.06
2,36.22,36.06,35.77,36.37,37.23,35.95,36.93,36.12,36.89,36.72,36.33,36.76,37.06
3,36.39,36.19,35.77,36.27,37.33,35.80,37.00,36.10,36.84,36.69,36.27,36.72,37.01
4,36.60,36.27,35.77,36.63,37.36,35.80,37.06,36.18,36.84,36.62,36.22,36.67,36.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20155,35.95,37.00,35.55,37.00,37.38,37.00,35.96,37.00,36.38,37.02,35.78,36.68,37.00
20156,36.24,37.00,35.57,37.00,37.14,37.00,35.90,37.00,36.44,37.06,35.78,36.91,37.00
20157,36.29,37.00,35.58,37.00,37.21,37.00,35.84,37.00,36.42,37.09,35.82,37.05,37.00
20158,36.28,37.00,35.56,37.00,37.35,37.00,35.80,37.00,36.49,37.09,35.77,37.19,37.00
20159,36.31,37.00,35.53,37.00,37.72,37.00,35.73,37.00,36.67,36.98,35.70,37.22,37.00

In [7]:
pd.read_csv('fem_act.csv')

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13
0,25.0,62.0,0.0,61.0,0.0,10.0,31.0,7.0,76.0,33.0,1.0,0.0,9.0
1,26.0,28.0,4.0,53.0,0.0,35.0,11.0,0.0,39.0,82.0,4.0,0.0,10.0
2,35.0,40.0,5.0,23.0,0.0,42.0,38.0,0.0,41.0,60.0,0.0,3.0,30.0
3,63.0,7.0,2.0,43.0,0.0,0.0,23.0,43.0,83.0,8.0,0.0,0.0,15.0
4,0.0,0.0,0.0,38.0,3.0,0.0,21.0,0.0,30.0,0.0,0.0,10.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20155,0.0,27.0,0.0,0.0,76.0,0.0,45.0,0.0,3.0,42.0,0.0,42.0,22.0
20156,0.0,29.0,0.0,0.0,11.0,49.0,37.0,0.0,2.0,58.0,0.0,32.0,37.0
20157,3.0,66.0,0.0,7.0,14.0,28.0,3.0,0.0,17.0,0.0,0.0,18.0,28.0
20158,25.0,87.0,0.0,0.0,6.0,33.0,53.0,0.0,23.0,4.0,0.0,24.0,0.0
20159,32.0,88.0,0.0,4.0,1.0,20.0,28.0,0.0,3.0,42.0,50.0,42.0,10.0

In [8]:
pd.read_csv('male_act.csv')

,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,46.0,20.0,0.0,39.0,3.0,0.0,1.0,13.0,24.0,0.0,0.0,0.0,0.0
1,0.0,30.0,0.0,70.0,38.0,24.0,0.0,6.0,74.0,0.0,0.0,6.0,0.0
2,0.0,26.0,0.0,1.0,0.0,6.0,17.0,22.0,7.0,9.0,0.0,0.0,0.0
3,0.0,19.0,0.0,56.0,18.0,14.0,26.0,24.0,32.0,0.0,0.0,0.0,0.0
4,7.0,46.0,0.0,101.0,55.0,68.0,21.0,0.0,57.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20155,72.0,0.0,5.0,0.0,78.0,0.0,0.0,0.0,55.0,75.0,24.0,71.0,0.0
20156,73.0,0.0,29.0,0.0,51.0,0.0,0.0,0.0,49.0,57.0,49.0,52.0,0.0
20157,40.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,18.0,0.0,75.0,0.0
20158,11.0,0.0,0.0,0.0,92.0,0.0,0.0,0.0,27.0,0.0,0.0,60.0,0.0
20159,51.0,0.0,0.0,0.0,119.0,0.0,0.0,0.0,6.0,8.0,0.0,100.0,0.0

2 Graphs for Female and Male. Each one plots Female and male activity and temp during the day.